:root {

    /* Primary Color Pallet */

    --colorP: #333333;
    --colorS: #AFA278;
    --color1: #5E5E5E;
    --colorF: #646464;

    /* Secondary Color Pallet */

    --colorSec1: #181C14;
    --colorSec2: #3C3D37;
    --colorSec3: #697565;
    --coloeSec4: #ECDFCC;

    
    --font-size-p: 7rem;
    --font-size-h2: 5.2rem;
    --font-size-s: 4.32rem;
    --font-size-h3: 3.67rem;
    --font-size-h4: 2rem;
    --font-size-btn1: 1.6rem;
    --font-size-text: 1.3rem;
    --font-size-li: 1.12rem;
    --font-fam-p: "Raleway", sans-serif;
}
.availability-sec {
    background-color: #f1f1f1;
    font-family: var(--font-fam-p);
    font-weight: 500;
    padding: 5rem 10vw;
}
.chck-avail-head {
    color: var(--colorS);
    text-align: center;
}

.calendar-container {
    display: none;
    position: absolute;
    width: 20vw;
    padding: 0.9rem 0.9vw;
    z-index: 10;
    border: 1px solid #AFA278;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.open-arr, .open-dep {
    display: block;
}

.avail-inputs {
    display: flex;
    align-items: center;
    gap: 9rem;
}
.arrival-i, .departure-i {
    display: flex;
    width: 20vw;
    border: 2px solid #AFA278;
    border-radius: 5px;
    padding: 1.2rem 3vw;
}
.arrival-date, .departure-date {
    margin-bottom: 1.2rem;
    margin-top: 4rem;
}
.arrival-date, .departure-date, .ph-departure, .placeholder-arr {
    opacity: 0.5;
}
.span-date {
    padding-left: 0.7vw;
}
.check-avail-btn {
    width: 10rem;
    border: 1px solid #AFA278;
    border-radius: 5px;
    background-color: #AFA278;
    color: #f1f1f1;
    font-size: var(--font-size-btn1);
    padding: 1.2rem 1.2vw;
    margin-top: 6.5rem;
    cursor: pointer;
}