:root {

    /* Primary Color Pallet */

    --colorP: #333333;
    --colorS: #AFA278;
    --color1: #5E5E5E;
    --colorF: #646464;

    /* Secondary Color Pallet */

    --colorSec1: #181C14;
    --colorSec2: #3C3D37;
    --colorSec3: #697565;
    --coloeSec4: #ECDFCC;

    
    --font-size-p: 7rem;
    --font-size-h2: 5.2rem;
    --font-size-s: 4.32rem;
    --font-size-h3: 3.67rem;
    --font-size-h4: 2rem;
    --font-size-btn1: 1.6rem;
    --font-size-text: 1.3rem;
    --font-size-li: 1.12rem;
    --font-size-sm: 0.8rem;
    --font-fam-p: "Raleway", sans-serif;
}
.current-month {
    padding: 5rem 0vw;
    font-family: var(--font-fam-p);
    opacity: 0.7;
}
.c-month {
    font-size: var(--font-size-h4);
    display: flex;
    align-items: center;
}
.c-yr {
    margin-left: 0.9rem;
}
.events-list-sec {
    padding-bottom: 5rem;
}
.ev-lists {
    display: flex;
    align-items: center;
    padding-top: 5rem;
}
.event-date-cal {
    margin-right: 5vw;
}
.event-month {
    background-color: var(--colorS);
    width: 7vw;
    text-align: center;
    padding: 0.5rem 0.5vw;
    font-size: var(--font-size-sm);
    color: #fff;
}
.event-date {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 7vw;
    border: 1px solid #333333;
}