:root {

    /* Primary Color Pallet */

    --colorP: #333333;
    --colorS: #AFA278;
    --color1: #5E5E5E;
    --colorF: #646464;

    --colorbckup: #dadada;

    /* Secondary Color Pallet */

    --colorSec1: #181C14;
    --colorSec2: #3C3D37;
    --colorSec3: #697565;
    --coloeSec4: #ECDFCC;

    
    --font-size-p: 7rem;
    --font-size-h2: 5.2rem;
    --font-size-s: 4.32rem;
    --font-size-h3: 3.67rem;
    --font-size-h4: 2rem;
    --font-size-btn1: 1.6rem;
    --font-size-text: 1.3rem;
    --font-size-li: 1.12rem;
    --font-size-sm: 0.8rem;
    --font-fam-p: "Raleway", sans-serif;
}
.events-section {
    padding: 0rem 10vw 2rem 10vw;
}
.events-body-sontainer {
    font-family: var(--font-fam-p);
    position: relative;
    top: 15rem;

}
.events-header {
    background-color: rgba(24, 28, 20, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0rem;
    left: 0;
    padding-left: 10vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    z-index: 10;
}
.change {
    background-color: var(--colorS);
}
.search-container {
    display: flex;
    align-items: center;
}
.searchbox {
    width: 77%;
    height: 3rem;
    border: 2px solid #AFA278;
    padding: 2rem 3.3vw;
    font-size: var(--font-size-sm);
}
input:focus {
    outline: none;
}
.find-events-btn {
    background-color: var(--colorS);
    border: 1px solid transparent;
    font-size: var(--font-size-sm);
    padding: 1.6rem 3.3vw;
    color: #fff;
    cursor: pointer;
}
.current-month {
    padding: 5rem 0vw;
    opacity: 0.7;
}
.c-month {
    font-size: var(--font-size-h4);
    display: flex;
    align-items: center;
}
.c-yr {
    margin-left: 0.9rem;
}
.upcomming-events-c {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorbckup);
    padding: 1.1rem 1.2vw;
}