:root {

    /* Primary Color Pallet */

    --colorP: #333333;
    --colorS: #AFA278;
    --color1: #5E5E5E;
    --colorF: #646464;

    --colorbckup: #f1f1f1;

    /* Secondary Color Pallet */

    --colorSec1: #181C14;
    --colorSec2: #3C3D37;
    --colorSec3: #697565;
    --coloeSec4: #ECDFCC;

    
    --font-size-p: 7rem;
    --font-size-h2: 5.2rem;
    --font-size-s: 4.32rem;
    --font-size-h3: 3.67rem;
    --font-size-h4: 2rem;
    --font-size-btn1: 1.6rem;
    --font-size-text: 1.3rem;
    --font-size-li: 1.12rem;
    --font-size-L: 1.8rem;
    --font-size-med: 1rem;
    --font-size-sm: 0.8rem;
    --font-size-exsm: 0.5rem;
    --font-fam-p: "Raleway", sans-serif;
}
.room-detail-thumbnail {
    width: 50vw;
    height: 30rem;
}
.room-details-header {
    background-color: rgba(24, 28, 20, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0rem;
    left: 0;
    padding-left: 10vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    z-index: 10;
}
.room-det-body-container {
    display: flex;
    gap: 2rem;
    font-family: var(--font-fam-p);
    position: relative;
    top: 9.2rem;
}
.left-details {
    padding-top: 2rem;
    padding-left: 5vw;
}
.right-aminities {
    width: 50%;
    padding: 2rem 2vw;
    /* color: var(--colorS); */
    background-color: var(--colorbckup);
}
.amenities-head {
    text-transform: uppercase;
    color: var(--colorS);
}
.room-name-type {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.amenities-table{
    border-collapse: separate;
    border-spacing: 0 2rem; 
}
.room-detail-name {
    opacity: 0.7;
}
.room-detail-type {
    font-weight: 600;
    padding-left: 7vw;
}
.rd-price {
    font-weight: 600;
}
.rd-per-n {
    opacity: 0.5;
}
.green {
    color: green;
}
.red {
    color: red;
}
.r-price-stat {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.room-stat {
    padding-left: 0.7vw;
}
.r-b-flex-c {
    display: flex;
    align-items: center;
}
.book-button {
    margin-top: 2rem;
    margin-left: 10vw;
}
.bk-btn {
    padding: 0.5rem 0.5vw;
    width: 10rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--colorS);
    color: var(--colorbckup);
    font-size: var(--font-size-btn1);
    cursor: pointer;
}
.room-name-type {
    width: 25vw;
}
.r-d-loader {
    text-align: center;
    padding-top: 50%;
    font-size: var(--font-size-L);
    font-weight: 700;
}